html, body {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.4;
  background: linear-gradient(140deg, transparent, #6bd1fe, #bd34fe);
}

body, div, span, img, code {
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.logo-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 24px);
}
