body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  padding-top: .1px;
}

body, div, span, img {
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.logo-box {
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo-box img {
  height: 77px;
  padding: 7px;
  background-color: rgba(77, 77, 77 , .07);
  border-radius: 7px;
}

.logo-box img:not(:first-child) {
  margin-left: 47px;
}

.static-public {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.static-public code {
  padding: 2px 4px;
  margin: 0 4px;
  border-radius: 4px;
  background-color: rgba(77, 77, 77 , .07);
  color: #304455;
}

.static-public img {
  width: 47px;
}
